.main-textinput {
  width: 1000px;
  height: 300px;
}
.main-body-container {
  display: flex;
  flex-direction: column;
}

.main-submit-form {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}
